body {
  padding: 5px;
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

a {
  color: #00B7FF;
}
